body {
    background: #eee;
}
h1, h2, h3 {
    font-family: helvetica, arial, sans-serif;
}
.hide {
    display: none;
}
.thumbholder {
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.show {
    border: 2px solid #cccccc;
}
a:focus {
    outline: none !important;
}